[project]
	description = A sample Spring-based application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/srujan70
[access "refs/for/refs/*"]
	read = group user/srujan70
	push = group user/srujan70
	label-Code-Review = -2..+2 group user/srujan70
	label-Verified = -1..+1 group user/srujan70
	rebase = group user/srujan70
	removeReviewer = group user/srujan70
	submit = group user/srujan70
[access "refs/heads/*"]
	read = group user/srujan70
	create = group user/srujan70
	push = +force group user/srujan70
	pushMerge = group user/srujan70
[access "refs/tags/*"]
	push = group user/srujan70
	push = +force group user/srujan70
